/* your styles here! */

/* you can use standard css plus anything from postcss-preset-env */

/* ref: https://preset-env.cssdb.org/ */

.main {
	font-family: 'Open Sans', sans-serif;
	& h3 {
		font-size: 1em;
		font-weight: 600;
	}
}

.myData {
	color: yellow;
	background-color: var(--black);
	padding: 16px;
}

.headerContainer {
	text-align: center;
	& h1 {
		font-weight: 300;
		font-size: 3em;
	}
	& p {
		color: #4e515d;
	}
}

.searchBar {
	margin: 2em 0;
	& form {
		margin: 10px 0;
	}

	& label {
		margin-left: 10px;
		color: #4e515d;
		font-size: 14px;
	}
}

.searchInput {
	min-width: 20em;
	width: 23em;
	height: 3em;
	border: 1px solid #cfd1d9;
	border-radius: 100px;
	padding-left: 1em;
}

.searchContainer {
	display: flex;
	gap: 1em;
}

.filterContainer {
	min-width: 210px;
	padding-right: 30px;
}

.peopleList {
	padding: 0;
	margin-left: 1em;
	& li {
		list-style-type: none;
	}
}

.searchResultsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
