.root {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 582px;
	width: 100%;
	margin-top: 32px;
}

.input {
	border: 1px solid #cfd1d9;
	height: 48px;
	width: 100%;
	padding-left: 48px;
	font-size: 16px;
	background: transparent url('/images/searchIcon.svg') 16px center no-repeat;
	border-radius: 24px;

	&::placeholder {
		color: #989cac;
		opacity: 1; /* Firefox */
	}
}

.checkboxContainer {
	margin-top: 16px;
}
