@import '@hashicorp/hashi-global-styles/style.css';

a {
  cursor: pointer;
}

/* Web Fonts */
@font-face {
  font-family: 'klavika-web';
  src: url('/static/fonts/klavika/300.woff2') format('woff2'),
    url('/static/fonts/klavika/300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'klavika-web';
  src: url('/static/fonts/klavika/500.woff2') format('woff2'),
    url('/static/fonts/klavika/500.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
